.pagination {
	display: flex;
	width: 100%;
	max-width: 300px;
	color: #3399ff;
	margin-bottom: 20px;
}

.prev {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.next {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.page {
	margin-left: -1px;
	padding: 10px 8px;
	border: 1px solid #999999;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.active,
.page:hover {
	background-color: #cccccc;
}

.disabled {
	pointer-events: none;
}
